<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.png" alt="Nice img" class="logo">
            <p class="logo-txt">Image by <a href="https://pixabay.com/users/IO-Images-1096650/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1073616">IO-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1073616">Pixabay</a></p>
            <h3 class="text-center">Account Login</h3>
            <form action="/users/register" method='post'>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm password</label>
                    <input type="password" class="form-control" name="password2" value="{{password2}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>